<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
    
    <display-name>Petrous</display-name>
    <description>The Petrous JSP and Servlet lesson by Nitin</description>
    
    <servlet>
        <servlet-name>Exporter</servlet-name>
        <servlet-class>com.katkam.petrous.ExportServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Exporter</servlet-name>
        <url-pattern>/Export</url-pattern>
    </servlet-mapping>
</web-app>